/*
Grid Layout ใช้จัดตำแหน่งของ element
ถูกออกแบบให้จัดการ layout แบบ 2 มิติ มีทั้งแนวนอนและแนวตั้งในเวลาเดียวกัน
    **การใช้งาน
    display: grid;

    **กำหนดขนาดแถว(ความสูง)
    grid-template-row: ความสูงของแถวที่ 1,2,3;
    สามารถกำหนดเป็น auto ได้

    **กำหนดขนาดคอลัมน์(ความกว้าง)
    grid-template-column: ความกว้างของคอลัมน์ที่ 1,2,3;
    สามารถกำหนดเป็น auto ได้

    **กำหนดสัดส่วน (นับเส้นตาราง)
    grid-column-start: จุดเริ่ม;
    grid-column-end: จุดสิ้นสุด;
    grid-column: จุดเริ่ม/จุดสิ้นสุด;
    grid-row-start: จุดเริ่ม;
    grid-row-end: จุดสิ้นสุด;
    grid-row: จุดเริ่ม/จุดสิ้นสุด;

    **การกำหนดระยะห่างระหว่างช่อง
    grid-row-gap: ระยะห่าง;
    grid-column-gap: ระยะห่าง;
*/
.item1{
    padding: 10px;
    background-color: lightsalmon;
    text-align: center;
    border: solid 2px ;
}
.container1{
    display: grid;
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-columns: repeat(3,auto);
    grid-row-gap: 20px;
}
/* กำหนดสัดส่วน (นับเส้นตาราง) */
.item1:first-child{
    grid-column: 1/4;
}
.item1:last-child{
    grid-column: 2/4;
}