/* 
Advance Selectors
    **special attribute
        แท็ก[type]{
            code;
        }
*/
input[type="email"], input[type="text"]{
    width: 50%;
    background-color: lightgrey;
}
input[type="submit"]{
    border-radius: 20px;
    background-color: lightpink;
}