/* 
CSS Animation
    - animation-name                ชื่อ animation
    - animation-duration            ระยะเวลา animation จากเริ่มต้นไปสิ้นสุด
    - animation-timing-function     รูปแบบการเล่น animation
    - animation-iteration-count     จำนวนการเล่น animation (infinite)
    - animation-direction           ทิศทางการเล่น (จาก frame 1 ไป 10 หรือแบบย้อนกลับก็ได้)
        - normal
        - alternate
    - animation-delay               ระยะเวลาที่จะเริ่มต้น
*/
.container{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box1{
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin: 20px;
    animation-name: animate1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
@keyframes animate1{
    from{
        width: 100px;
    }
    to {
        width: 400px;
    }
}